.main-nav {
    display: flex;
    height: 20px;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 12px;
  padding: 7px 12px;
}

.right-nav > ul > li {
    margin-right: 3px;
    cursor: pointer;
}



.right-nav > ul > li:last-of-type {
  position: relative;
  padding: 7px;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
    background-color: lightgrey;
}

.left-nav span {
  margin-left: 12px;
}

.right-nav i {
 font-size: 16px;
}