.sections-nav {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  border-bottom: 1px solid lightgray;
  font-size: 12px;
}

.sections-nav ul{
    display: flex;
    padding: 5px;
}

.sections-nav ul li{
    margin: 7px;
}

.sections-nav li:hover{
    background-color: lightgray;
}
